<h1>
  Users
  <br>
  <small><%= link_to 'Add New User', new_user_path %></small>
</h1>

<br>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= will_paginate @users %></p>
