<h1>
  Categories
  <br>
  <small><%= link_to 'Add New Category', new_category_path %></small>
</h1>

<br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td>
          <%= category.name %><br/>
          <em><a href="<%= category.url %>" target="_blank">view page</a></em>          
        </td>
        <td><%= category.type.name %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= will_paginate @categories %></p>
