<!DOCTYPE html>
<html>
<head>
  <title>Mandy's Hair Treasures - Cms</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <header>
        <nav id="header-nav" class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div id="brand-nav" class="navbar-header col-lg-12 col-md-12 col-sm-12">
                    <a id="main-brand" class="navbar-brand" href="index.html">
                        Mandy's Hair Treasures<br/>
                        <small>Quality Hair Products</small>
                    </a>
                    <form id="search-nav" class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                        <div><a href=""><strong>Free International Shipping</strong></a></div>
                    </form>
                    <button id="menu-nav-button" type="button" class="navbar-toggle collapsed col-xs-12" data-toggle="collapse" data-target="#menu-navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>
            <div class="bg-grey">
                <div class="container-fluid">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div id="menu-navbar-collapse" class="collapse navbar-collapse">
                        <ul id="menu-nav" class="nav nav-pills nav-justified">
                            <li id="menu-nav-button-dashboard" ><a href="/dashboard">Dashboard <span class="sr-only">(current)</span></a></li>
                            <li id="menu-nav-button-types"><a href="/types">Types</a></li>
                            <li id="menu-nav-button-categories"><a href="/categories">Categories</a></li>
                            <li id="menu-nav-button-products"><a href="/products">Products</a></li>
                            <li id="menu-nav-button-users"><a href="/users">Users</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
            </div>
        </nav>
    </header>

    <% if logged_in? %>
        <div style='float: right;'>
            Logged in as <%= current_user.username %> |
            <%= link_to "Logout", logout_path, method: :delete %>
        </div>
    <% end %>

    <% flash.each do |key, value| %>
        <p id='<%= key %>'><%= value %></p>
    <% end %>

<%= yield %>

</body>
</html>
